[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
gunicorn = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
pandas = "*"
python-slugify = "*"
flask-compress = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
