[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
ujson = "*"
gunicorn = "*"
pandas = "*"
pyairtable = "*"
python-dotenv = "*"
records = "*"
psycopg2-binary = "*"
discord = "*"
flask-sqlalchemy = "*"
quickle = "*"

[dev-packages]

[requires]
python_version = "3.9"
