{% extends 'layouts/main.html' %}
{% block title %}{{ team }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
<div class="main-body px-4 py-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/static/img/logos/{{ team }}.png" alt="Admin" class="rounded" width="110">
                        <div class="mt-3">
                            <h4>{{ team }}</h4>
                            <!--<p class="text-secondary mb-1">VP</p> -->
                        </div>
                    </div>
                    <div class="px-3 py-0">
                        {% for row in wins %}
                            {% if 'Tournament' in row['name'] %}
                                <i data-bs-toggle="tooltip" data-bs-title="{{ row['name'] }} Champions ({{ row['2k'] }})" data-bs-placement="bottom" class="fa-solid fa-award fa-xl px-1" style="color: rgb(140, 98, 245);"></i>
                            {% else %}
                                <i data-bs-toggle="tooltip" data-bs-title="{{ row['name'] }} ({{ row['2k'] }})" data-bs-placement="bottom" class="fa-solid fa-trophy fa-xl" style="color: rgb(252, 217, 119);"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <hr class="my-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6><i class="fab fa-xbox fa-lg" style="color: #333333;"></i> Captain</h6>
                            <span class="text-secondary">@{{ captain }}</span>
                        </li>
                        <!--<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6><i class="fab fa-twitch fa-lg" style="color: #333333;"></i> Stream</h6>
                            <span class="text-secondary">@todo</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6><i class="fab fa-youtube fa-lg" style="color: #333333;"></i> On-demand</h6>
                            <span class="text-secondary">@todo</span>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <small class="text-muted">Seasons/Events</small>
                      <h2>{{ seasons }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                        <small class="text-muted">Win %</small>
                        <h2>{{ '%0.2f' |format(total) }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                        <small class="text-muted">Championships</small>
                        <h2>0</h2>
                    </div>
                  </div>
                </div>
              </div>
            <ul class="nav nav-pills nav-fill mb-4">
                <li class="nav-item">
                    <a class="nav-link active" id="nav-team-tab" data-bs-toggle="tab" data-bs-target="#nav-team" type="button" role="tab" aria-controls="nav-team" aria-selected="true">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-opp-tab" data-bs-toggle="tab" data-bs-target="#nav-opp" type="button" role="tab" aria-controls="nav-opp" aria-selected="false">Game Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-opp-tab" data-bs-toggle="tab" data-bs-target="#nav-opp" type="button" role="tab" aria-controls="nav-opp" aria-selected="false">Records</a>
                </li>
            </ul>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
                        <div class="table-responsive regular table-white">
                            <table class="table table-bordered"
                                   data-toggle="table"
                                   data-sortable="true"
                                   data-sort-name="PTS"
                                   data-sort-order="desc">
                              <thead>
                                <tr>
                                  <th scope="col" data-sortable="true">Player</th>
                                  <th scope="col" data-sortable="true" data-field="GP">GP</th>
                                  <th scope="col" data-sortable="true" data-field="FGM">FGM</th>
                                  <th scope="col" data-sortable="true" data-field="FGA">FGA</th>
                                  <th scope="col" data-sortable="true" data-field="FGP">FG%</th>
                                  <th scope="col" data-sortable="true" data-field="TPM">3PM</th>
                                  <th scope="col" data-sortable="true" data-field="TPA">3PA</th>
                                  <th scope="col" data-sortable="true" data-field="TPP">3P%</th>
                                  <th scope="col" data-sortable="true" data-field="REB">REB</th>
                                  <th scope="col" data-sortable="true" data-field="AST">AST</th>
                                  <th scope="col" data-sortable="true" data-field="STL">STL</th>
                                  <th scope="col" data-sortable="true" data-field="BLK">BLK</th>
                                  <th scope="col" data-sortable="true" data-field="TOV">TOV</th>
                                  <th scope="col" data-sortable="true" data-field="PTS">PTS</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for row in stats %}
                                <tr>
                                    <td><button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-content="{{ profile_card(row['pid'], profiles) }}">{{ row['gamertag'] }}</button></td>
                                    <td>{{ row['gp'] }}</td>
                                    <td>{{ '%0.0f' | format(row['fgm']) }}</td>
                                    <td>{{ '%0.0f' | format(row['fga']) }}</td>
                                    <td>{{ '%0.2f' | format(row['fg%'] or 0) }}</td>
                                    <td>{{ '%0.0f' | format(row['3pm']) }}</td>
                                    <td>{{ '%0.0f' | format(row['3pa']) }}</td>
                                    <td>{{ '%0.2f' | format(row['3p%'] or 0) }}</td>
                                    <td>{{ '%0.2f' | format(row['reb']) }}</td>
                                    <td>{{ '%0.2f' | format(row['ast']) }}</td>
                                    <td>{{ '%0.2f' | format(row['stl']) }}</td>
                                    <td>{{ '%0.2f' | format(row['blk']) }}</td>
                                    <td>{{ '%0.2f' | format(row['tov']) }}</td>
                                    <td>{{ '%0.2f' | format(row['pts']) }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-opp" role="tabpanel" aria-labelledby="nav-opp-tab">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="list-group">
                                    {% for row in games %}
                                        <div class="d-none d-md-block">
                                            <a href="/games/{{ row['id'] }}" class="list-group-item list-group-item-action d-flex w-100 justify-content-between">{{ row['home'] }} vs. {{ row['away']}} <small class="muted">{{ row['date'] }}</small></a>
                                        </div>
                                        <div class="d-sm-block d-md-none">
                                            <a href="/games/{{ row['id'] }}" class="list-group-item list-group-item-action d-flex w-100 justify-content-between">{{ row['home_short'] }} vs. {{ row['away_short']}} <small class="muted">{{ row['date'] }}</small></a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
