{% extends 'layouts/main.html' %}
{% block title %}Player Stats{% endblock %}

{% block content %}
<div class="flex-xl-nowrap px-4 py-3 mx-auto">
    <h1 class="text-center">Player Stats</h1>
    <div class="alert alert-info" role="alert">
        Per-category statistical minimums are assigned according the rules <a class="alert-link" href="https://www.nba.com/stats/help/statminimums/">outlined by the NBA</a>, scaled down to a
        15-game season.
    </div>
    <select id="box-select" class="form-select" aria-label="Default select example">
        {% for row in events %}
            <option value="{{ row['id'] }}">{{ row['name'] }}</option>
        {% endfor %}
    </select>
    <div class="row row-cols-1 row-cols-md-2 regular">
        {% for stat, rows in stats.items() %}
        <div class="col">
            <table class="table table-striped table-bordered mt-0 caption-top">
                <caption>{{ stat|upper }}</caption>
                <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">GP</th>
                    <th scope="col">{{ stat|upper }}</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                <tr>
                    <td><button type="button" class="btn btn-link" data-bs-toggle="popover" data-bs-content="{{ profile_card(row['pid'], profiles) }}">{{ row['gamertag'] }}</button></td>
                    <td>{{ row['gp'] }}</td>
                    <td>{{ '%0.2f' | format(row[stat]) }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function show(choice) {
        if (choice === "regular") {
            $(".regular").removeClass("hide");
            $(".playoffs").addClass("hide");
        } else {
            $(".playoffs").removeClass("hide");
            $(".regular").addClass("hide");
        }
    }

    $('#box-select').on('change', function() {
        show(this.value);
    });

    //show($('#box-select').value);
</script>
{% endblock %}
