{% extends 'layouts/main.html' %}
{% block title %}Season Records{% endblock %}

{% block content %}
<div class="flex-xl-nowrap mx-auto px-4 py-3">
    <h1 class="text-center">Records</h1>
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-0 caption-top">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col">Stat</th>
              <th scope="col">Player(s)</th>
              <th scope="col">Record</th>
            </tr>
          </thead>
          <tbody>
            {% for stat, row in highs.items() %}
            <tr>
                <td>{{ stat|upper }}</td>
                <td>
                {% for player in row %}
                    <a href="/players/{{ player['id'] }}" class="btn btn-link p-0">{{ player['gamertag'] }}</a>
                    {%- if not loop.last -%}
                    ,
                    {%- endif -%}
                {% endfor %}
                </td>
                <td>
                {% for player in row %}
                    <a href="/games/{{ player['game'] }}" class="p-0">{{ player[stat] }}</a>
                    {%- if not loop.last -%}
                    ,
                    {%- endif -%}
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
 </div>
{% endblock %}
